html {
	height: 100%;
}

body {
	color: #fff;
  background-color: #155799;
  background-image: linear-gradient(120deg, #155799, #159957);
  background-position: fixed;
  font-family: "Open Sans", sans-serif;
}

/* optional: in case you need no scrollbar when modal is open */
.tinymodal-active {
  overflow: hidden;
}

article {
	position: relative;
	padding: 20px;
	max-width: 800px;
	margin: auto;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.4em;
}

blockquote {
	font-family: monospace;
	font-size: 1.2em;
	border: 1px solid rgba(255, 255, 255, .2);
	padding: 1em;
}

p {
	margin: 10px 0;
	font-size: 1em;
	line-height: 1.4;
}

	.center {
		text-align: center;
	}

a {
	color: #91cd85;
	transition: 0.2s color ease;
}
	a:hover {
		color: #fff;
	}

button {
	display: inline-block;
  margin-bottom: 1em;
  padding: .5em .75em;
  color: rgba(255, 255, 255, .7);
  background-color: rgba(255, 255, 255, .08);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: .3em;
  font-size: 1em;
  cursor: pointer;
  transition: .2s;
}
	button:hover {
		color: rgba(255, 255, 255, .8);
	  background-color: rgba(255, 255, 255, .2);
	  border-color: rgba(255, 255, 255, .3);
	}
	button:active {
		background: #91cd85;
	}
	button+button {
		margin-left: 1em;
	}